
<div class="bg-theme">
    <div class="container">
        <h1 class="text-white"> General Knowloage</h1>
    <p class="text-white">Powerful, extensible, and feature-packed frontend toolkit. </p>
    </div> 
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</div>