.featured-section{
    padding-left: 130px;
    padding-right:130px;
    padding-bottom: 130px;

    background-color: var(--primary-color);
}
.container-latest-post{
    width: 70%;
    margin: 0 auto;
}