<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://www.gettyimages.com/gi-resources/images/500px/983794168.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-sucess text-center ml-2">Featured</small>
                    <small class="bg-light text-info text-center ml-2">Views - 120</small>
                    <small class="bg-light text-warning text-center ml-2">Last Updated -SEP.20.2023</small>

                    <h1 class="mt-3 mb-3">HOW TO MAKE IMAGE</h1>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>
