<div class="card shadow-effect">
    <img src="https://c4.wallpaperflare.com/wallpaper/1017/130/492/red-sky-big-sun-set-wallpaper-thumb.jpg" alt="post-img" class="card-img-top">
    
    <div class="card-bady">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center m-3">Featured</small>
        <small class="bg-light text-info text-center m-3">Views - 100</small>
        
        <h5 class="mt-1">HOW TO MAKE IMAGE</h5>
        <P>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, </P>

        <small class="bg-light text-warning text-center mi-3">LAST UPDATED - SEP 20.2023</small>
    </div>
</div>
